#config.py

class config :
	alert_value = 100
	ok_value = 50
	csv_data_folder = "air_data"
	logs_file_name = "air_check.log"
	api_url = "http://api.luftdaten.info/v1/sensor/"
	
	# configure smtp server for sending mail
	smtp_host = 'smtp.gmail.com'
	smtp_port = 587
	smtp_user = 'username@gmail.com'
	smtp_password = 'password'

	#Notification recipients
	email_list = [
					{"email":"username@gmail.com", "station_id":"5690" },
					{"email":"username@hotmail.com", "station_id":"5690" },
					{"email":"username@yahoo.com", "station_id":"6771" },
				]